:root {
    --accent-color: #2196F3;
    --secondary-font: 'Raleway', sans-serif;
    --primary-theme-color: #E5E5E5;
    --secondary-theme-color: #F5F4FA;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
}
.list {
    list-style: none;
}
.link {
text-decoration: none;
}
.button:hover,
.button:focus {
    background-color: var(--accent-color);
}
.button {
    cursor: pointer;
}
.adress {
    font-style: normal;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-theme-color);
}
/* HEADER */
.logo-link {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}
.logo-accent {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--accent-color);
}
.menu-nav .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}
.menu-nav .link:hover,
.menu-nav .link:focus {
    color: var(--accent-color);
}
.menu-nav .link.current {
    color: var(--accent-color);
}
.contact-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}
.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}
/* HERO */
.hero-name {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.modal-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: var(--accent-color);
    }
.hero {
    background-color: #2F303A;
}
.menu-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: #F5F4FA;
}
/* SECTION */
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.description-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}
.description-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
.team-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
.team-section {
    color: var(--secondary-theme-color);
}
/* FOOTER */
.footer {
    background-color: #000000;
}
.logo-accent-footer {
    font-family: var(--secondary-font);
    color: #FFFFFF;
}
.footer-contact-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-contact-link:hover,
.footer-contact-link:focus {
    color: var(--accent-color);
    cursor: pointer;
}
.adress-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.adress-link:hover,
.adress-link:focus {
    color: var(--accent-color);
    cursor: pointer;
}
/* PORTFOLIO */
.project-subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}
.project-example {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}